<div class="container">
  <div class="product-wrapper">
    <div class="row">
      <div id="carouselExampleIndicators" class="carousel slide col-lg-7  border border-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item carousel-photo active">
            <img src="https://assets1.ignimgs.com/2017/10/11/boardgames-beginner-1280-1-1507760592343_160w.jpg?width=1280" class="d-block w-100" alt="<%= @game.name %> img">
          </div>
          <div class="carousel-item carousel-photo">
            <img src="https://image.api.playstation.com/cdn/EP4917/CUSA12867_00/FREE_CONTENTdKIjz7z4sFXQ0u2EhhvO/T2R_05.jpg" class="d-block w-100" alt="<%= @game.name %> img">
          </div>
          <div class="carousel-item carousel-photo">
            <img src="https://assets-prd.ignimgs.com/2021/09/16/ticket-to-ride-europe-15th-anniversary-edition-1631823447104.jpeg?width=1920" class="d-block w-100" alt="<%= @game.name %> img">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="col-lg-5 border border-5 d-flex">
        <div class="d-flex flex-column align-items-center col-6 flex-grow-1 justify-content-center">
          <h2>Book <%= @game.name %>!</h2>
          <%= simple_form_for [@game, @booking] do |f| %>
          <div class="mb-3 mt-3">
          <%= f.label 'From' %>
          <%= f.input_field :start_date %>
          </div>
          <div>
          <%= f.label 'to', class: 'me-4 mb-4' %>
          <%= f.input_field :end_date %>
          </div>
          <div class="text-center">
          <%= f.button :submit, 'Check availability', class: 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm border border-5">
        <h1>
          <%= @game.name %>
        </h1>

        <p>
          Price per day: €<%= @game.day_price %>
        </p>
        <p>
          Number of players: <%= @game.number_players %>
        </p>
        <%#= link_to 'Edit', edit_flat_path(@flat) %>

        <%#= link_to 'Delete', flat_path(@flat), method: :delete %>
      </div>
    </div>
  </div>
 </div>
