<div class="container">
  <%= simple_form_for(game) do |f| %>
    <%= f.input :name %>
    <%= f.input :description%>
    <%= f.input :day_price %>
    <%= f.input :number_players %>
    <%= f.input :category%>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Save Game!" %>
  <% end %>
</div>

